* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* header */
.callBtn,
.hero-Btn,
.registerBtn,
.free-class-btn,
.download-curriculum-btn,
.ready-course {
    background: linear-gradient(to right, #0acefe, #2699fb);
    color: #fff;
    font-weight: 700;
}

/* Hero section */
.hero-heading {
    font-size: 52px;
    color: #0A2134;
}
.hero-row {
    gap: 70px;
}
.heroBtn,
.registerBtn,
.free-class-btn,
.download-curriculum-btn {
    box-shadow: #0acefe 0px 10px 15px -8px;
    padding: 10px 35px;
}
.formHeading {
    font-size: 18px;
    color: #101828;
}
.formText {
    font-size: 12px;
    color: #43505B;
}
.formContainer {
    max-width: 600px;
    min-width: 200px;
}
.formCon {
    font-size: 14px;
    color: #0A2134;
}

/* Info section */
.infoText {
    font-size: 16px;
    color: #43505B;
}

/* highlight section */
.highlight-section {
    background-color: #F7FAFF;
}
.highlight-heading {
    font-size: 36px;
    color: #0A2134;
}  

/* courses section */
.courses-heading {
    font-size: 44px;
    color: #0A2134;
}

/* digital marketing course section */
.list-icon {
    width: 28px;
    height: 28px;
}
.download-curriculum-btn {
    font-size: 18px;
    padding: 12px 40px;
}

/* Why digital marketing section */
.frame-icon {
    width: 64px;
    height: 64px;
}

.heading3 {
    font-size: 44px;
    color: #0A2134;
    font-weight: bold;
}

/* Testimonial section */
.pic-frame {
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    background-image: url('/Images/person\ 1.png');
    background-size: cover;
}

.ready-course {
    margin-top: 100px !important;
}

/* course faq section */
.stroke {
    width: 15px;
    height: 2px;
    background-color: #2699FB;
}